
.my-dark{
    background-color: #232528;
}
.my-dark-text{
    color: #232528;
}
.my-blue{
    background-color: #009FFD;
}
.my-blue-text{
    color: #009FFD;
}
.my-purple{
    background-color: #2A2A72;
}
.my-purple-text{
    color: #2A2A72;
}
.my-light{
    background-color: #EAF6FF;
}
.my-light-text{
    color: #EAF6FF;
}
.my-darker{
    background-color: #151718;
}
.my-darker-text{
    color: #151718;
}